
<!-- Add Mermaid and KaTeX -->
<script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    // document.addEventListener("DOMContentLoaded", function() {
    mermaid.initialize({startOnLoad: true});
    // });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
      delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true},
      ],
  });"></script>


<!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
onload="renderMathInElement(document.body, {
    delimiters: [
        {left: '$', right: '$', display: false},
        {left: '$$', right: '$$', display: true},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true},
    ],
});"></script> -->

<script>
    function btn_abst() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("abst");
      var btnText = document.getElementById("btn_abst");
    
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Abstract"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Hide"; 
        moreText.style.display = "inline";
      }
    }
</script>

<script>
  function btn_files() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("files");
    var btnText = document.getElementById("btn_files");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Show files"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Hide files"; 
      moreText.style.display = "block";
    }
  }
</script>


<style>
  @media (max-width: 480px){
    .responsive {
      width: 100%;
    }
  }
  @media (min-width: 481px){
    .responsive {
      width: 50%;
      padding-right:30px; 
      /* padding-bottom:10px; */
      float: left;
    }
  }

  @media (max-width: 480px){
    .responsive-illus {
      width: 100%;
    }
  }
  @media (min-width: 481px){
    .responsive-illus {
      width: 50%;
      padding-left:10px; 
      /* padding-bottom:10px; */
      float: left;
    }
  }

    #more {display: none;}
    #abst {display: none;}
    #files {display: none;}
</style>

<script defer data-domain="vinceth.net" src="https://plausible.io/js/plausible.js"></script>
<script defer data-domain="vinceth.net" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
