
<!-- Add Mermaid and KaTeX -->
<script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    // document.addEventListener("DOMContentLoaded", function() {
    mermaid.initialize({startOnLoad: true});
    // });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
onload="renderMathInElement(document.body, {
    delimiters: [
        {left: '$', right: '$', display: false},
        {left: '$$', right: '$$', display: true},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true},
    ],
});"></script>

<script>
    function btn_abst() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("abst");
      var btnText = document.getElementById("btn_abst");
    
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Abstract"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Hide"; 
        moreText.style.display = "inline";
      }
    }
</script>

<script>
  function btn_files() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("files");
    var btnText = document.getElementById("btn_files");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Show files"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Hide files"; 
      moreText.style.display = "block";
    }
  }
</script>


<style>
    #more {display: none;}
    #abst {display: none;}
    #files {display: none;}
</style>